<h3 align="center">Supermercados </h3>
  


  <% if(session.authenticated){ %>
<div class="row" align="center">
  <ul id="super">
    <%}else{%>
    	<%res.redirect('/');%>
    <%}%>








  </ul>
</div>