<div class="container">
<br></br>
  <div ALIGN=center class="jumbotron">
  	
	<% if(session.authenticated){ %>
  	
  	<h1>wena cabros estan re logeados pibes</h1>

  	<h2>pagina ventas  </h2>
  	<a href="#" class="btn btn-lg btn-success">Comprar</a>
	  	
	<% } else{ %>

	<h1>wena cabros tienen que logear u.u</h1>

  	<h2>pagina ventas  </h2>
  	<a href="session/new" class="btn btn-lg btn-success">Iniciar Sesion</a>

	<% } %>


  	</div>
</div>