<div class="addon" id="categorias">
          <p>Categorias</p>
          <h3>Supermercado: <%= nom%></h3>

          <input type="hidden" id="superM" value="<%= nom%>">
          <ul id='Categorias' >
           <li class="clearfix">
            <a  target="_blank">
              <input type="hidden" value="Carnes y pescados">
              <em class="hot"></em>
              <div class="legend-info">
                <strong>Carnes y pescados</strong>Featured hot special at the moment.
              </div>
            </li>




            <li class="clearfix">
            <a  target="_blank">
            <input type="hidden" value="lacteos y huevos">
              <em class="hot"></em>
              <div class="legend-info">
                <strong>Lacteos y huevos</strong>Featured hot special at the moment.
              </div>
            </li>

            <li class="clearfix">
             <a  target="_blank">
             <input type="hidden" value="congelados y postres">
              <em class="extra"></em>
              <div class="legend-info">
                <strong>Congelados y Postres</strong>Contests, surveys, prizes and more fun stuff.
            </div>
            </li>
           
             <li class="clearfix" >
              <a  target="_blank">
              <input type="hidden" value="panaderia">
              <em class="hot"></em>
              <div class="legend-info">
                <strong>Panadería</strong>Featured hot special at the moment.
              </div>
            </li>
             <li class="clearfix" >
                <a  target="_blank">
                <input type="hidden" value="galletas y golosinas">
                <em class="hot"></em>
                <div class="legend-info">
                 <strong>Galletas y Golosinas</strong>Featured hot special at the moment.
                </div>
            </li>



          </ul>
        </div>