<div class="addon" id="categorias">
          <p>Categorias</p>
          <h3>Supermercado: <%= nom%></h3>

          <input type="hidden" id="superM" value="<%= nom%>">
          <ul id='Categorias' >
            <li  class="clearfix" value="carnes y pescada">
              <a target="_blank">
              <em class="hot"></em>
              <div class="legend-info" >
                <strong>Carnes y Pescada</strong>Carnes
                </div></a>
              </li>


            <li class="clearfix" value="lacteos y huevos">
            <a  target="_blank">
              <em class="hot"></em>
              <div class="legend-info">
                <strong>Lacteos y huevos</strong>Featured hot special at the moment.
              </div>
            </li>

            <li class="clearfix" value="congelados y postres">
             <a  target="_blank">
              <em class="extra"></em>
              <div class="legend-info">
                <strong>Congelados y Postres</strong>Contests, surveys, prizes and more fun stuff.
            </div>
            </li>
           
             <li class="clearfix"  value="panaderia">
              <a  target="_blank">
              <em class="hot"></em>
              <div class="legend-info">
                <strong>Panadería</strong>Featured hot special at the moment.
              </div>
            </li>
             <li class="clearfix"  value="galletas y golosinas">
                           <a  target="_blank">

              <em class="hot"></em>
              <div class="legend-info">
                <strong>Galletas y Golosinas</strong>Featured hot special at the moment.
              </div>
            </li>



          </ul>
        </div>