<div class="addon">
          <p>What's this?</p>
          <h3>req <%= nom%></h3>

          <input type='hidden' >
          <ul id='Categorias'>
            <li  class="clearfix">
              <a href="" target="_blank">
              <img class="round" src="https://8share-production-my.s3.amazonaws.com/campaigns/4898/photos/profile/thumb_copy.png?1397732185">
              <div class="legend-info">
                <strong>Carnes y Pescada</strong>Carnes
                </div></a>
              </li>


            <li class="clearfix">
              <em class="hot"></em>
              <div class="legend-info">
                <strong>Lacteos y huevos</strong>Featured hot special at the moment.
              </div>
            </li>
            <li class="clearfix">
              <em class="extra"></em>
              <div class="legend-info">
                <strong>Congelados y Postres</strong>Contests, surveys, prizes and more fun stuff.
              </div>
            </li>
          </ul>
        </div>